.search-bar input {
    width: 100%;
    padding: 8px;
    font-size: 22px;
    position: fixed;
    top: 0px;
}

.lst-itm {
    font-size: 20pt;
    padding: 8px;
}

.lst-itm:hover {
    color: #ffffff;
    background-color: burlywood;
}

#item-list {
    margin-top: 40px;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.item-info {
    font-size: 22px;
}

.itm-dtl-txt {
    width: 100%;
    min-height: 120px;
    font-size: 20pt;
}

.margin-top-10 {
    margin-top: 20px;
}

.padding-10 {
    padding: 10px;
}

.dtl-lst-itm {
    border-bottom: 2px solid burlywood;
}